.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
}

.nav {
  /* display: inline-block; */
  width:100%;
  box-sizing: border-box;
  background-color: #3D3D5C;
  position: "static";
}

.nav-link {
  margin-left: 'auto';
  color: #f2f2f2;
  background-color: #3D3D5C;
  text-align: center;
  /* text-decoration: none; */
  font-size: 10px;
  

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.logout {
  margin-left: 'auto';
  color: #f2f2f2;
  background-color: #3D3D5C;
  text-align: center;
  /* text-decoration: none; */
  font-size: 10px;
  float: right;
  padding-top: 5.25%;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.logoutAdmin {
  margin-left: 'auto';
  color: #f2f2f2;
  background-color: #3D3D5C;
  text-align: center;
  /* text-decoration: none; */
  font-size: 10px;
  float: right;
  padding-top: 8.2%;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.nav-link:hover {
  height: 'auto';
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.08);
}

.nav-right {
  float: right;
}